/build/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/
logs/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

*.sw?
.#*
*#
*~
.classpath
.project
.settings
bin
build
target
dependency-reduced-pom.xml
*.sublime-*
/scratch
.gradle
README.html
.idea
*.iml