<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} [%p] %c:%L - %msg%n
			<pattern>%d %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>
	or
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] [%p] %c:%L - %msg%n
			</Pattern>
		</layout>
	</appender>
 -->
 
 	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <layout class="org.apache.log4j.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] [%p] %c:%L - %msg%n
			</Pattern>
		</layout> -->
		<encoder>
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] [%p] %c:%L - %msg%n
			</Pattern>
		</encoder>
	</appender>
 
 
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- ganti file setiap jam -->
			<fileNamePattern>
				${catalina.home:-.}/logs/%d{yyyy-MM-dd_HH}/app-${spring.profiles.active:-development}.log
			</fileNamePattern>

			<!-- simpan file selama sebulan (24 * 31) -->
			<maxHistory>384</maxHistory>
		</rollingPolicy>
		<!-- 
		<encoder>
			<pattern>%d %-5level %logger{35} - %msg %n</pattern>
		</encoder>
		 -->
		 <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<include resource="logback-development.xml"/>

</configuration>

