<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{template_container.html}">
<head>
    <meta charset="UTF-8">
    <title>Home Static</title>
</head>
<body>
<section layout:fragment="content">
    <!--<h1>Masuk Pak [[${#httpServletRequest.remoteUser}]]</h1>-->
    <h1>Masuk Pak [[${#session.getAttribute('userFullname').toString()}]]</h1>
</section>

</body>
</html>