<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragment/fr_template_head.html :: common_head(~{::link},~{::meta},${pagetitle})">
    <meta charset="UTF-8">
    <link rel="stylesheet">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!--<div class="container">
        <div class="row">
            <div class="col-md-3" style="background-color:lavender;">left</div>
            <div class="col-md-6" style="background-color:lavenderblush;" layout:fragment="content">
                Page content goes here
            </div>
            <div class="col-md-3" style="background-color:lavender;">right</div>
        </div>
    </div>-->
    <div class="wrapper">
        <header th:replace="/fragment/fr_template_header.html :: template_header"></header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside th:replace="/fragment/fr_template_sidebar.html :: template_sidebar"></aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section th:replace="/fragment/fr_content_header.html :: content_header">
            </section>

            <!-- Main content -->
            <section class="content" layout:fragment="content">
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer th:replace="/fragment/fr_template_footer.html :: template_footer"></footer>

        <!-- Control Sidebar -->
        <aside th:replace="/fragment/fr_control_sidebar.html :: control_sidebar"></aside>
        <!-- /.control-sidebar -->

        <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>

        <!-- jQuery 3 -->
        <script th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
        <!-- FastClick -->
        <script th:src="@{/bower_components/fastclick/lib/fastclick.js}"></script>
        <!-- AdminLTE App -->
        <!--<script th:src="@{/dist/js/adminlte.min.js}"></script>-->
        <script th:src="@{/dist/js/adminlte.js}"></script>
        <!-- AdminLTE for demo purposes -->
        <script th:src="@{/dist/js/demo.js}"></script>

    </div>

</body>
</html>